<div class="lightbox lb-small">
    <div class="dialog-box">
        <div class="top-box span-12">
            <h3 class="h-medium span-8">{{ jsGetText('password_forgotten_title') }}</h3>
            <div class="span-2"></div>
            <a class="close-icon span-1"></a>
        </div>
        <div class="clear"></div>
        <div class="body-box">
            <p>{{ jsGetText("password_forgotten_text")}}</p>
            <form id="passwordForgottenForm" class="passwordForgottenForm">
                <fieldset class=" span-12">
                    <input class="input-default left" type="text" placeholder="E-mail">
                    <a class="button action right">{{ jsGetText('password_forgotten_submit') }}</a>
                </fieldset>
                <p class="message error_messages"></p>
            </form>
            <div class="clear"></div>
        </div>
    </div>
</div>
