 <form id="preferences_edit_form" class="small-content">

    <p>{{ jsGetText('change_email_password') }}<br>
    <p id="preferences_edit_form_email_messages">
        <span class="inputError invalidSection"></span>
        <br>
    </p>

    <section class="edit-password">
        <div class="span-4">
            <label class="left">{{ jsGetText('email') }}</label>
            <input type="text" name="email" class="input-default right" readonly="readonly" value="{{ email }}">
        </div>
        <div class="span-1"></div>
        <div class="span-6">
            <label class="left">{{ jsGetText('new_password') }}</label>
            <input type="password" name="pwd" class="input-default right">
        </div>
    </section>
    <section>
        <div class="span-5"></div>
        <div class="span-6">
            <label class="left">{{ jsGetText('repeat_password') }}</label>
            <input type="password" name="repeat_pwd" class="input-default right">
            <a class="action button submit">{{ jsGetText('save') }}</a>
        </div>
    </section>
</form>

<h4 class="h-normal successMessageContainer" style="">
    <input type="checkbox" checked="checked" readonly="readonly" />
    <span class="successMessage">{{ jsGetText('settings_saved') }}</span>
</h4>