<div class="lightbox lb-full zip_code_lb">
    <div class="dialog-box">
        <div class="top-box">
            <h3 class="h-medium title-container">{{ jsGetText('location_box_title', restaurantName) }}</h3>
        </div>
        <div class="body-box">
            <div class="brown-gradient span-12">
                <div class="span-4">
                    <h3 class="h-medium">{{ jsGetText('location_box_enter') }}</h3>
                    <h5 class="h-small normalcase">{{ jsGetText('location_box_hint') }}</h5>

                </div>
                <div class="span-8">
                    <form class="zip-input">
                        <input type="text" placeholder="{{ jsGetText('search_input_placeholder_short') }}" class="left">
                        <a class="button action big right">{{ jsGetText('location_box_go') }}</a>
                    </form>
                </div>
            </div>
            <div class="right logoSmall"></div>
            <div class="clear"></div>
        </div>
    </div>
</div>
