<form>
    <p>{{ jsGetText("poll_description") }}</p>
    <span class="error"></span>
    <fieldset class="span-12">
            {% _.each(exit_poll, function(val, i) { %}
                    <div class="span-12"><input type="radio" id="{{ val.get('ga_name') }}" name="exitpoll" value="{{ val.get('ga_name') }}"> {{ val.get('display') }} </input></div>
            {%    }); %}
        <div class="span-12"></div>
        <div class="span-4"></div>
        <div class="span-2">
            <a class="button small action submit">{{ jsGetText("password_forgotten_submit") }}</a>
        </div>
    </fieldset>
</form>
<div class="clear"></div>
